---
import CuizMetrics from "@/components/CuizMetrics.svelte";
import GameDraft from "@/components/GameDraft.svelte";
import Base from "@/layouts/Base.astro";
---
<Base title="Dev Page" description="Page For Prototyping, Wireframing and all that...">
	<script>
		import { enterData, gameStatus, startGame } from "@/stores/game"
		import { modals } from "@/stores/modals"
		import type { Question } from "@/types"

		const questions = [
			{ question: "it is about 13.8billion years old?", answer: "true", text: "About the universe"},
			{ question: "the mongols' empire reigned way past genghis' death", answer: "false", image: "https://i.ibb.co/rpftdgC/Upper-RS-1.jpg", text: "a map of Asia" },
			{ question: "the black death started in Asia", answer: "false", image: "https://i.ibb.co/rpftdgC/Upper-RS-1.jpg"}
		] as Question[]

		console.log(questions)


		enterData(questions, "", "")
		gameStatus.setKey("type", "dcq")
		modals.setKey("game", true)
		startGame()
		

	</script>

	<h1>Dev Page</h1>

    <GameDraft client:only="svelte" />
    <CuizMetrics client:only="svelte" />
</Base>


<style lang="scss">
h1 {
	font-size: var(--step-4);
	margin-bottom: 0.5rem;
}

</style>
