---
import Base from "@/layouts/Base.astro";
---

<Base title="Dev Page" description="Page For Prototyping, Wireframing and all that...">
	<h1>Dev Page</h1>
</Base>

<style>
h1 {
	margin-bottom: 1rem;
}
</style>
