---

---


<div class="course-card">
    
    <svg class="course-card-icon" viewBox="0 0 24 24">
        <use href="#capsule"></use>
    </svg>

    <div class="course-card-content">
        <h2 class="course-card-title">Anatomy</h2>
        <p class="course-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos illum.</p>
    </div>




</div>



<style lang="scss">

.course-card {

    display: grid;
    gap: 0.2rem;
    justify-content: start;
    place-items: center;
    background: var(--clr-white);
    padding: 0.5rem 1rem 1.25rem;
    border: var(--border);
    border-radius: 0.75rem;
    position: relative;
    height: fit-content;
    overflow: hidden;


    @media (min-width: 800px) {
        padding: 0.6rem 1rem 1.15rem;
    }



    &-icon {
        --icon-size: 100px;
        color: var(--text-gradient-fallback);
        filter: opacity(0.15);
        position: absolute;
        inset: 0 0 auto auto;
        pointer-events: none;
    }


    &-title {
        font-size: var(--step-3);
        font-weight: 600;
        line-height: 1.1;
    }

    &-description {
        margin-top: 0.25rem;
        font-size: var(--step-n0);
        line-height: 1.4;
    }


}



</style>
