:root {
    // Type
    --step-n2: clamp(0.6076rem, 0.5407rem + 0.3345vw, 0.8rem);
    --step-n1: clamp(0.7292rem, 0.635rem + 0.471vw, 1rem);
    --step-0: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
    --step-1: clamp(1.05rem, 0.8717rem + 0.8913vw, 1.5625rem);
    --step-2: clamp(1.26rem, 1.0189rem + 1.2054vw, 1.9531rem);
    --step-3: clamp(1.512rem, 1.1887rem + 1.6164vw, 2.4414rem);
    --step-4: clamp(1.8144rem, 1.384rem + 2.1519vw, 3.0518rem);
    --step-5: clamp(2.1773rem, 1.6077rem + 2.8477vw, 3.8147rem);

    // Spacing
    --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
    --space-2xs: clamp(0.4375rem, 0.3723rem + 0.3261vw, 0.625rem);
    --space-xs: clamp(0.6875rem, 0.6005rem + 0.4348vw, 0.9375rem);
    --space-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
    --space-m: clamp(1.3125rem, 1.1168rem + 0.9783vw, 1.875rem);
    --space-l: clamp(1.75rem, 1.4891rem + 1.3043vw, 2.5rem);
    --space-xl: clamp(2.625rem, 2.2337rem + 1.9565vw, 3.75rem);
    --space-2xl: clamp(3.5rem, 2.9783rem + 2.6087vw, 5rem);
    --space-3xl: clamp(5.25rem, 4.4674rem + 3.913vw, 7.5rem);

    // Fonts
    --font-sans: 'Rubik', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu, cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    // Colors
    --clr-gray-100: hsl(210deg 17% 98%);
    --clr-gray-200: hsl(210deg 16% 93%);
    --clr-gray-300: hsl(210deg 14% 89%);
    --clr-gray-400: hsl(210deg 14% 83%);
    --clr-gray-500: hsl(210deg 11% 71%);
    --clr-gray-600: hsl(208deg 7% 46%);
    --clr-gray-700: hsl(210deg 9% 31%);
    --clr-gray-800: hsl(210deg 10% 23%);
    --clr-gray-900: hsl(210deg 11% 15%);
    --clr-white: hsl(0deg 0% 99%);
    --clr-black: hsl(0deg 0% 7%);

    // Shadow (h,s)
    --shadow-color: 210deg 11%;

    // Z-levels
    --z-base: 1;
    --z-dialog: 4;
    --z-toast: 3;

    // Grid Properties
    --grid-offset: 1.5rem;
    --breakout-offset: 1rem;
    --grid-width: 105ch;

    font-family: var(--font-sans);
    font-size: 15px;
    color-scheme: light;
}



*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}


body {
    background: var(--clr-gray-200);
    color: var(--clr-grey-900);
    accent-color: var(--clr-gray-300);
}

main, astro-island, astro-slot, astro-static-slot {
    display: contents;

    & > * {
        grid-column: content;
    }
}

button:focus {
    outline-offset: 3px;
    outline: 2px solid;
}

svg, picture, img, video {
    max-width: 100%;
}

svg {
    --c-icon-size: var(--icon-size, 30px);
    
    width: var(--c-icon-size);
}


[data-grid] {
    --c-grid-offset: var(--grid-offset, 1.5rem);
    --c-grid-width: var(--grid-width, 105ch);

    display: grid;
    grid-template-columns: 
        [full-start left-start] minmax(var(--c-grid-offset), 1fr) 
        [right-start content-start] minmax(auto, var(--c-grid-width)) 
        [content-end left-end] minmax(var(--c-grid-offset), 1fr) 
        [right-end full-end];

    /* stylelint-disable-next-line no-descending-specificity */
    &>* {
        grid-column: content;
    }
}


h1 {
    font-size: var(--step-5);
    font-weight: bold;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
