---
import "@scss/index.scss";
import ImageBox from "@components/ImageBox.svelte";
import Assets from "@/components/Assets.astro";
import Toast from "@/components/Toast.svelte";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import SkipLink from "@/components/SkipLink.astro";
import { Show } from "solid-js";
import { getEntry, type CollectionEntry } from "astro:content";
import Analytics from "@/components/Analytics.astro";
interface Props {
	title: string;
	description?: string;
}

const { title = "Home Page", description = "" } = Astro.props;
const extras: CollectionEntry<"extras"> = await getEntry("extras", "index")

const isProduction = process.env.NODE_ENV === "procdution"
console.log(isProduction)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://i.ibb.co" crossorigin />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<slot name="meta" />
		<title>{title}</title>
	</head>
	<body data-grid>
		<slot name="structured-data" />

		{isProduction && <Analytics measurementId="G-0EFZKCT0RY" />}
		<SkipLink />
		<Show when={extras.data.message > ""}>
			<div class="extras-message">{extras.data.message}</div>
		</Show>
		<Header />
		<main id="main-content" data-grid>
			<slot />
			<Toast client:load />
			<ImageBox client:load />
			<Assets />
		</main>
		<Footer />
		<slot name="script" />
	</body>
</html>



<style lang="scss">
.extras-message {
	padding: 0.5rem 0.75rem;
	background: var(--clr-gray-700);
	color: var(--clr-gray-200);
	grid-column: full;
	text-align: center;
	font-size: calc(1.1 * var(--step-n1));
	font-weight: 600;
	font-family: var(--font-heading);

}
</style>
