---
import "@scss/index.scss";
import ImageBox from "@components/ImageBox.svelte";
import Assets from "@/components/Assets.astro";
import Toast from "@/components/Toast.svelte";
import Header from "@/components/Header.astro";
import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/Footer.astro";
interface Props {
	title: string;
	description?: string;
}

const { title = "Home Page", description = "" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body data-grid>
		<Header />
		<main>
			<slot />

			<Toast client:load />
			<ImageBox client:load />
			<Assets />
		</main>
		<Footer />
	</body>
</html>
